

<div class="text-center">
    <img src="https://i.ibb.co/cKVTgLYq/static.png" alt="homepage">

    <h1 class="display-4">Benvenuto su CSharpAuto!</h1>
    <p> Prodotti per ogni categoria! </p>
    <p>
        Batterie ->
        <a href="/Componenti?categoria=batteria">
            <img src="https://s1.medias-norauto.it/images_produits/3501361212950/200x200/batteria-auto-primo-prezzo-n.-31-40-ah-340-a--2215404.jpg" alt="Batterie" />
        </a>
    </p>

    <p>
        Olio ->
        <a href="/Componenti?categoria=olio">
            <img src="https://s1.medias-norauto.it/images_produits/828684/200x200/olio-motore-selenia-benzina-diesel-5w40-4-litri--828684.jpg" alt="Olio" />
        </a>
    </p>

    <p>
        Autoradio ->
        <a href="/Componenti?categoria=autoradio">
            <img src="https://s1.medias-norauto.it/images_produits/8714505049977_1/200x200/autoradio-rmd058dab-caliber--2759835.jpg" alt="Autoradio" />
        </a>
    </p>
</div>